name: Tests

on: [pull_request, push, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.13"
          - "3.12"
          - "3.11"

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "0.9.0"
          enable-cache: true

      - name: Install Python dependencies
        run: |
          uv sync --group=test

      - name: Run tests
        run: |
          uv run pytest --random-order --cov-fail-under=100

      - name: Run lint
        run: |
          uv run ruff check

      - name: Run type check
        run: |
          uv run mypy src tests
